* {
  margin: 0;
  padding: 0;
}

html,
body {  
  height: 100%;
  background-color: #211729;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  padding-top: 80px;
}

