.main_options{
    margin-top:45px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 250px;
    
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    width: auto;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
   
    border-top: 5px solid #647DEE;
    border-radius: 100px;
    padding: 10px;
}
.options{
   
    padding: 10px;
    
    font-size: 30px;
    margin:15px;
    width: 40%;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    font-family: Impact,Charcoal,sans-serif;
    font-weight: 400;
    color:aliceblue;
    text-align: center;
    border-top: 5px solid #18d5a6;
    border-radius: 100px;
}
.btn1{
    padding: 10px;
    
    font-size: 30px;
    margin:25px;
    width: 50%;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    font-family: Impact,Charcoal,sans-serif;
    font-weight: 400;
    color:#7F53AC;
    text-align: center;
    border-top: 5px solid #7F53AC;
    border-bottom: 5px solid #647DEE;
    border-left: 5px solid #7F53AC;
    border-right: 5px solid #647DEE;
    border-radius: 100px;
}
