.nav{
    display:flex;
    justify-content: center;
 
   
}

.title{
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fffdfd;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);

}
@media only screen and (max-width: 768px){
    .title{
        font-size: 40px;
        font-family: Impact,Charcoal,sans-serif;
        font-weight: 400;
        color:aliceblue;
        width: 500px;
        text-align: center;
        
        
    }
}