.title{
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 500;
    color:aliceblue;
    justify-content: center;
    text-align: center;
    
}